h1 { 
    font-family: 'Lucida Sans Unicode'; 
    color: #aa8a2f;
    text-shadow: 1px 1px 10px #000;
}
h2 { 
    font-style: italic; 
    color: #8bc6ff;
    text-shadow: 1px 1px 15px #FFF;
    font-size: x-large;
}

h3 {
    font-family: 'Palatino Linotype';
    color: #808080;
}

p {
    color: #fff;
    font-size: medium;
}

p2 {
    color: #fff;
}

ol {
    color: #fff;
    font-size: medium;
}

body {
    background: #2a2929;
    font-family: 'Palatino Linotype';
    color: #fff;
}

img {
    width: 650px;
}

.wrap {
    margin: 0 auto;
    width: 900px  
}
section {
    width: 680px;
    margin-right: 20px;
    float: left;
    font-size: xx-large;
    font-family: Verdana;
    color: #430046;
}

aside {
    width: 200px;
    float: left;
}

footer {
    clear: both;
}