h1 { 
    font-family: Nyala; 
    color: #01b9bf;
    border-bottom: 5px double #caad00;
    margin: 0;
    text-shadow: 1px 1px 10px #a80052;
    text-align: center;
}
h2 { 
    font-style: italic; 
    color: chartreuse;
    border-bottom: 5px dotted #adadad;
    margin:0;
    text-shadow: 1px 1px 15px green;
    text-align: center;
}

body {
    background: #2a2929;
    border-top: 5px dashed black;
    font-family: fantasy, sans-serif;
    color: #a80052;
    text-align: center;
    width: 1000px;
}
